{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Processing - Upload CSV</title>
    <link rel="stylesheet" href="{% static 'css/Home.css' %}">
</head>
<body>
    <a href="{% url 'home' %}" class="home-button">Home</a>    
    <header>
        <h1>Image Processing System</h1>
        <nav>
            <a href="{% url 'upload_csv' %}">Upload CSV</a>
        </nav>
    </header>
    <main>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Upload CSV File</h2>
            <label for="csv_file">Select CSV File:</label>
            <input type="file" name="csv_file" accept=".csv" required>
            <button type="submit">Submit</button>
        </form>
    </main>
</body>
</html>
